**/projects/*JLink*
**/projects/Listings
**/projects/Objects

**/PROJECT/output

*.o
*.d
*.elf
*.hex
*.bin
*.crf
*.map
*.a
*.ls
*.s19
*.wed
*.wdb
*.dep
*.ioc
*.htm
*.axf
*.lst
*.sct
*.lnp

*.asm

*.tn

*.si4project/

*.uvoptx

*.PcbDoc
*.mxproject
*JLink*

**/stvd/Debug
**/stvd/Release
**/stvd/TAGS*

**/stvd/*.pdb
**/stvd/*.wdb

**/stvd/*.dep
**/stvd/*.wed
*.tmp
*.hex

**/.svn
**/Project/DebugConfig
**/Listings
**/Objects
*uvguix*
*.uvoptx
*Jlink*
*.bak
*.uvgui*
**/*.scvd
**/List
**/Obj

# Ignore uncrustify backups
*.unc*
**/doc/html/*
**/doc/output/*
**/doc/tag/*
doxygen_warnings.txt
/.metadata/
.vscode/*
*.o
*.d
*.elf
*.hex
*.bin
*.crf

RemoteSystemsTempFiles/*

# Ignore top-level build dir
/build*/
**/output/*
**/list/*
*.cnon
*.swp
